.cart {
  z-index: 2000;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #00000045;
  height: 100vh;
}

.cart-container {
  height: 96%;
  background-color: var(--white);
  width: 35%;
  border-radius: 20px;
  margin: 20px 0;
  padding-right: 30px;
  padding-top: 30px;
}
