.menu-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.menu-title {
  z-index: 2;
}

.menu-paragraph {
  position: absolute;
  font-family: "Comforter Brush", cursive;
  font-size: 38px;
  z-index: 3;
  top: -28px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  color: var(--yellow);
  filter: drop-shadow(0 0 3px var(--dark-blue));
}
