.menu-container {
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-template:
    ". . title  . ."
    "item item item item item "
    "smth smth smth smth smth";
}

.menu-paragraph {
  grid-area: title;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.menu-items-container {
  width: 100%;
  grid-area: item;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menu-smth {
  height: 200px;
  grid-area: smth;
}
