.menu-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-title {
  padding: 20px 0;
  width: 100%;
  background-color: var(--for-button);
  color: var(--white);
  font-size: 40px;
  text-align: center;
  z-index: 2;
}

.menu-paragraph {
  position: absolute;
  font-family: "Comforter Brush", cursive;
  font-size: 38px;
  z-index: 3;
  top: -28px;
  color: var(--yellow);
  filter: drop-shadow(0 0 3px var(--dark-blue));
}
