.navigation {
  grid-column: 9/14;
  align-content: center;
}

.navigation__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 7px 0;
}

.navigation__links-item {
  list-style: none;
  cursor: pointer;
}

.navigation__links-item:hover {
  color: var(--pink);
}
