.header__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: var(--main-page-color);
}

.header__container-logo {
  grid-column: 2/4;
  align-content: center;
  padding: 10px;
}

.header__container-logo-img {
  height: 48px;
  mix-blend-mode: multiply;
}

.burger-header__container{
grid-column: 1 / -1;
display: flex;
align-items: center;
justify-content: space-between;
}

.burger-button{
  align-self: center;
  font-size: 40px;
  cursor: pointer;
}

.cart-icon {
  grid-column: 14/-1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 40px;
  }
}

