.header__container-logo {
  grid-column: 2/4;
  align-content: center;
  padding: 10px;
}

.header__container-logo-img {
  height: 48px;
  mix-blend-mode: multiply;
}

.header__container {
  background-color: var(--main-page-color);
}
