.carousel-container {
  height: 110px;
  background: var(--white);
  overflow: hidden;
  white-space: nowrap;
}

.carousel-track {
  display: inline-block;
  animation: 5s animate infinite linear;
}

.carousel-item {
  height: 100px;
  margin: 0 40px;
}

@keyframes animate {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
