@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");

:root {
  --black: #011617c0;
  --white: #fff;
  --blue: #cbf6f9c0;
  --yellow: #d9e25c;
  --dark-blue: #20555b;
  --pink: #e25cb8cb;
  --light-pink: #ffe6f3;
  --bright-pink: #fcbcdd;
  --dark-pink: #690b4bcb;
  --for-button: #0c42b7;
  --for-button-dark: #082053;
  --for-button-dark-color: #b7c4d6;
  --for-button-hover: #b87aab;
  --container-width: 1440px;
  --main-page-color: #dde9fe;
  --grey: #4c5563;
  --grey-transparent: #4c556398;
  --dark-blue-for-intro: #06183d;
  --light-grey: #656f88;
  --teaser-text: #26335d;
  --teaser-small-text: #7b6f79;
  --teser-extra-small-text: #7c6f7b;
  --teaser-super-extra-small-text: #937d9e;
  --teser2-header: #3f3943;
}

* {
  all: unset;
  display: revert;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 300;
  background-color: var(--main-page-color);
  font-size: 16px;
}

.container {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.header {
  width: 100%;
  height: fit-content;
}

.button {
  cursor: pointer;
  padding: 0 20px;
  background-color: var(--for-button);
  color: var(--white);
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
}

.button:hover {
  background-color: var(--for-button-hover);
}

.btn_dark {
  font-size: 20px;
  background-color: var(--for-button-dark);
  padding: 7px 20px;
  color: var(--for-button-dark-color);
}

.btn_white {
  font-size: 14px;
  background-color: var(--white);
  padding: 7px 20px;
  color: var(--black);
  border-radius: 20px;
}

.main-title {
  padding: 20px 0;
  width: 100%;
  background-color: var(--for-button);
  color: var(--white);
  font-size: 40px;
  text-align: center;
}
